<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jo.android.smartrestaurant">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".DayBestSelesActivity"
            android:label="Best Sales"></activity>
        <activity
            android:name=".RecommendationActivity"
            android:label="Recommendation" />
        <activity android:name=".AddOfferActivity" />
        <activity
            android:name=".TableDetailsActivity"
            android:label="Table" />
        <activity
            android:name=".ManagerHomeActivity"
            android:label="Manager Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MenuActivity" />
        <activity
            android:name=".UserHomeActivity"
            android:label="@string/title_activity_user_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateNewAccountActivity"
            android:label="Create New Account" />
        <activity android:name=".QrReaderActivity" />
        <activity
            android:name=".LoginActvity"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ItemDetailsActivity" />
        <activity
            android:name=".CartActivity"
            android:label="Cart" />
        <activity
            android:name=".ManagerLoginActivity"
            android:label="Manager Login" />
        <activity
            android:name=".ConfirmActivity"
            android:label="Checkout" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>